{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}{{ user.username }}{% endblock %}

{% block content %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{{object.month.year.get_absolute_url}}">Año</a></li>
    <li class="breadcrumb-item active"><a href="{{object.month.get_absolute_url}}">Mes</a></li>
    <li class="breadcrumb-item active" aria-current="page">Día</li>
  </ol>
</nav>

<h1>{{ object.day }} - {{ object.month.month}} - {{ object.month.year.year }}</h1>

<input type="submit" class="btn btn-primary" value="Fichar entrada" form="fichar_entrada" />
<input type="submit" class="btn btn-primary" value="Fichar salida" form="fichar_salida" />
<input type="submit" class="btn btn-primary" value="Generar PDF de resumen diario" form="descargar_pdf" />
<form class="form-horizontal" method="post" action="">
  {% csrf_token %}
  {{ form|crispy }}
  <div class="control-group">
    <div class="controls">
      <button type="submit" class="btn btn-primary">Guardar</button>
    </div>
  </div>
</form>
<form id="fichar_entrada" action="" method="post"> {% csrf_token %}
  <input type="hidden" name="_fichar_entrada"></p>
</form>
<form id="fichar_salida" action="" method="post"> {% csrf_token %}
  <input type="hidden" name="_fichar_salida"></p>
</form>
<form id="descargar_pdf" action="" method="post"> {% csrf_token %}
  <input type="hidden" name="_generate_daily_digest_pdf">
</form>
{% endblock %}