{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}{{ user.username }}{% endblock %}

{% block content %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{year_link}}">Año</a></li>
        <li class="breadcrumb-item active" aria-current="page">Mes</li>
    </ol>
</nav>

<h1>{{ month.month}} - {{ month.year.year }}</h1>

<div class="col-sm-12">
    <p>Total horas trabajadas: {{total_time_worked}}</p>
    <p>Total horas de jornada: {{month_working_time}}</p>
    <p>Balance de horas: 
        {% if time_balance_positive %}
        <font style="color:green">{{time_balance}}</font>
        {% else %}
        <font style="color:red">-{{time_balance}}</font>
        {% endif %}
    </p>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">Día</th>
                <th scope="col">Hora de entrada</th>
                <th scope="col">Hora de salida</th>
                <th scope="col">Horas trabajadas</th>
                <th scope="col">Horas jornada</th>
                <th scope="col">Balance de horas</th>
            </tr>
        </thead>
        <tbody>
            {% for day, dict in days_worked.items %}

            <tr>
                {% if "day_object" in dict.keys %}
                <th scope="row"><a href="{{dict.day_object.get_absolute_url}}">{{day}}</a></th>
                <td>{{dict.day_object.start_time|date:'H:i:s'}}</td>
                <td>{{dict.day_object.end_time|date:'H:i:s'}}</td>
                <td>{{dict.day_object.time_worked}}</td>
                <td>{{dict.day_object.working_time_delta}}</td>
                {% if dict.time_balance_positive %}
                <td style="color:green">{{dict.time_balance}}</td>
                {% else %}
                <td style="color:red">-{{dict.time_balance}}</td>
                {% endif %}
                {% else %}
                <th scope="row"><a href="{{dict.day_link}}">{{day}}</a></th>
                <td>--</td>
                <td>--</td>
                <td>--</td>
                <td>--</td>
                <td>--</td>
                {% endif %}
            </tr>

            {% endfor %}

    </table>

</div>

{% endblock %}