{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}{{ user.username }}{% endblock %}

{% block content %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">Año</li>
    </ol>
</nav>

<h1>{{ year.year }}</h1>

<div class="col-sm-12">
    <p>Total horas trabajadas: {{total_time_worked}}</p>
    <p>Total horas de jornada: {{year_working_time}}</p>
    <p>Balance de horas: 
        {% if time_balance_positive %}
        <font style="color:green">{{time_balance}}</font>
        {% else %}
        <font style="color:red">-{{time_balance}}</font>
        {% endif %}
    </p>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">Día</th>
                <th scope="col">Horas trabajadas</th>
                <th scope="col">Horas jornada</th>
                <th scope="col">Balance de horas</th>
            </tr>
        </thead>
        <tbody>
            {% for month, dict in months_worked.items %}

            <tr>
                {% if "month_object" in dict.keys %}
                <th scope="row"><a href="{{dict.month_object.get_absolute_url}}">{{month}}</a></th>
                <td>{{dict.month_object.time_worked}}</td>
                <td>{{dict.month_object.working_time_delta}}</td>
                {% if dict.time_balance_positive %}
                <td style="color:green">{{dict.time_balance}}</td>
                {% else %}
                <td style="color:red">-{{dict.time_balance}}</td>
                {% endif %}
                {% else %}
                <th scope="row"><a href="{{dict.month_link}}">{{month}}</a></th>
                <td>--</td>
                <td>--</td>
                <td>--</td>
                {% endif %}
            </tr>

            {% endfor %}

    </table>

</div>

{% endblock %}